* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: orange;
}
#title {
    position: absolute;
    position: fixed;
    padding: 20px;
    margin-top: 2%;
    margin-left: 2%;
    font-family: 'Baloo Paaji', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.nav {
    font-size: 22px;
    padding: 5px;
    width:23%;
    position: fixed;
    height: 4%;
    border: solid 0px;
    border-bottom: solid 1px;
    margin-top: 13%;
}
.settings {
    display: inline-block;
    font-family: 'Baloo Paaji', cursive;
    font-family: 'Montserrat', sans-serif;
}
.back-color {
    display: none;
    position: absolute;
    position: fixed;
    margin-top: 13%;
}
.back-color button {
    padding: 10px;
    float: left;
    border: solid 0px;
    background-color: rgba(0, 0, 0, 0);
}
.back-color button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.back-change {
    position: absolute;
    position: fixed;
    display: inline-block;
    padding-left: 1%;
}
.back-change button {
    padding: 5px;
    top: 0px;
    border: solid 0px;
    background-color: rgba(0, 0, 0, 0);
}
.back-change button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.post-content {
    height: 100%;
}
.wrap-box-css {
    width: 80%;
    height: 100%;
    font-size: 20px;
}
.wrap-box-css p{
  padding-top: 2%;
  padding-left: 20%;
}
.post-content-sample {
    background-color: white;
    height: auto;
    margin-bottom: 2%;
    margin-left: 30%;
    word-break: break-all;
}
.content-back {
    background-color: white;
    height: auto;
    margin-top:2%;
    margin-bottom: 2%;
    margin-left: 30%;
    word-break: break-all;
    border: solid 5px;
    border-right: 0px;
    padding-bottom: 1.5%;
}
.comment {
    position: absolute;
    right: 0px;
    margin-top:9%;
    margin-right: 2%;
}
.comment button {
    width: 80px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
}
.post-text {
    position: absolute;
    bottom: 0px;
    position: fixed;
    right: 0px;
    margin-bottom: 3%;
    margin-right: 3%;
    border: solid 8px;
    border-bottom: solid 30px;
    font-size: 30px;
    z-index: 1;
}
.post-text button {
    position: absolute;
}
.profile {
    background-color: white;
    width: 27%;
    height: 60%;
    position: absolute;
    bottom: 0px;
    position: fixed;
    background-color: #f6ad49;
    border-top: solid 10px ;
    border-right: solid 10px;
}
.profile img {
    margin-left: 8%;
    margin-top: 5%;
    border: solid 5px;
    width: 80%;
    height: 60%;
}
.profnuko {
    width: 100px;
    height: 100px;
    float:left;
    border-right: solid 2px;
    border-bottom: solid 2px;
}
.profile input {
    margin-top: 20%;
    margin-left: 10%;
}
